#cardsDisplay{
    font-family: 'HSfont', sans-serif;
    color: peru;
    height: 200px;
}

#cardsDisplayMain{
    /* height: 1000px; */
    background-image: url(hatter1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'HSfont', sans-serif;

    display: flex;
    gap: 0px 16px;
    flex-wrap: wrap;

    justify-content: center; 

    height: auto;
}

.seged{
    text-align: center;
}

.seged2{
    border-bottom: rgb(165, 75, 42) 8px solid;
}

.hatter2{
    background-image: url(hatter2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    z-index: -1;
}

.formHR{
    margin-bottom: 2px;
    margin-top: 2px;
    color: darkorange;
    border: darkorange 2px solid;
}

label{
    width: 300px;
}

.submitButton{
    height: 32px;
    line-height: 32px;
    /* border: none; */
    background-color: darkorange;
}

select{
    background-color: brown;
    border: none;
}

input{
    background-color: brown;
    border: none;
    width: 160px;
    height: 32px;
}

#filterOptions{
    background-color:rgb(107, 27, 16);
    /* border-bottom-right-radius: 50px; */
    font-size: 25px;
    height: 196px;

    box-shadow:
    0 2px 0 goldenrod inset,
    0 -2px 0 #7b3e1b inset,
    0 0 0 4px #781d1d;
}

@font-face {
    font-family: 'HSfont';
    src: url('Belwe\ Bold.otf') format('opentype');
  }

.navbar{
    font-family: 'HSfont', sans-serif;
    background-color:saddlebrown;
    font-size: 25px;
    font-weight: bold;

    background-image: url('navbarHatter.PNG');
    background-size: contain;
    background-repeat:repeat-x;
    background-position: center;

    color: peru !important;

    box-shadow: 0px 8px 20px rgba(0, 0, 0, 1);
}

.navbar .nav-link {
    color: peru !important;
}
  
.navbar .nav-link:hover {
    color:tan !important;
}

.nav-item-1 {
  border: 3px solid #a14e28;
  border-radius: 50px;
  margin-right: 20px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow:
  0 2px 0 goldenrod inset,
  0 -2px 0 #7b3e1b inset,
  0 0 0 4px #781d1d;  
}

.hs-logo{
    height: 70px;
}

.nav-item-2{
    margin-right: 20px;
}

.hsCard{
    position: relative;
    height: 360px;
    width: 265px;
    margin-top: 10px;

    /* overflow: hidden; */
}

.commonBG{
    z-index: 2;
    position: absolute;
    height: 360px;
    width: 265px;

    border: 5px solid rgb(97, 48, 17);
    object-fit: cover;
}

.cardImg{
    position: absolute;
    left: 67px;
    height: 180px;
    width: 141px;
}

.mana{
    position: absolute;
    left: 34px;
    top: 4px;
    color: white;
    font-size: 45px;
    z-index: 3;

    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.hp{
    position: absolute;
    right: 20px;
    top: 285px;
    color: white;
    font-size: 45px;
    z-index: 3;

    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.att{
    position: absolute;
    left: 34px;
    top: 285px;
    color: white;
    font-size: 45px;
    z-index: 3;

    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.desc{
    position: absolute;
    width: 180px;
    font-size: 12px;
    left: 50px;

    z-index: 3;

    top: 230px;
}

.type{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    z-index: 3;

    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.title{
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    z-index: 3;

    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;

    white-space: nowrap;
}

.buttonsCard{
    top: 0px;
    right: 0px;
    width: 130px;
    position: absolute;
    z-index: 4;
    background-color: #7b3e1b;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 1);
}

.mentesBtn{
    
}

.ujKartya{

}